extends layout

block content
  h2 Login

  #loginForm
    fieldset
      input#inputUserEmail(type='text', placeholder='Email')
      input#inputUserPassword(type='text', placeholder='Password')
      br
      button#btnLoginUser Login
      
  a(href="/users/create") Create a new account
  
  #errorMsg
    h2
