extends layout

block content
  h1 Login

  #loginForm
    fieldset
      input#inputUserEmail(type='text', placeholder='Email')
      input#inputUserPassword(type='text', placeholder='Password')
      br
      button#btnLoginUser Login
