extends layout

block content
  h1 Create New Study Group
  
  #createGroup
    fieldset
      input#inputSubject(type='text', placeholder='Subject')
      br
      input#inputLocation(type='text', placeholder='location')
      br
      input#inputDescription(type='text', placeholder='Description')
      br
      br
      button#btnCreateGroup Create Group
